<!DOCTYPE html>
<html lang="en">
<head>
    <title>citrus tour</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</head>

<div class="body">
  <body>
    
    <h1>O que estão falando do nosso site?</h1>
    <section class= "cards">
      <div class="card">
       <img class="user" src="../IMAGENS/tue.jpg" all="">
       <h3>Matue</h3>
       <div class="stars">
        <img class="star" src="../IMAGENS/star.svg" alt="">
        <img class="star" src="../IMAGENS/star.svg" alt="">
        <img class="star" src="../IMAGENS/star.svg" alt="">
        <img class="star" src="../IMAGENS/star.svg" alt="">
        <img class="star" src="../IMAGENS/star.svg" alt="">

       </div>
  
       <p>Eu achei muito interessante o site, e super indico para todos que queiram ter mais informações sobre os pontos turisticos de Capitão Poço! </p>
  
      </div>
  
  
      <div class="card">
        <img class="user" src="../IMAGENS/vino.jpg" all="">
        <h3>Yunk Vino</h3>
        <div class="stars">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
   
        </div>
   
        <p>Eu achei muito bom o site, pq com ele eu conseguir encontra o melhor lugar para me divertir com minha familia</p>
   
       </div>
  
  
       <div class="card">
        <img class="user" src="../IMAGENS/budah.jpg" all="">
        <h3>Budah</h3>
        <div class="stars">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
            <img class="star" src="../IMAGENS/star.svg" alt="">
   
        </div>
   
        <p>Simplesmente amei, as images são perfeitas e as informações são bem certinhas</p>
   
       </div>
    </section>

      
  </body>

  <header>
    <center>
      <a class="btn btn-secondary" href="../index.html" role="button">Voltar a tela inicial</a>
  </header>
</div>

</html>
Foo